
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
.display-flex{
  display: flex;
}
/* navbar related style */
.navbar{
  max-width: 100%;
  background-color: #1A0B2E;
  align-items: center;
  justify-content: space-between;
  color: white;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar h1 span{
  background: linear-gradient(to bottom left, #9100F8, #FB09B4,  #F7E93F);
  background-clip: text;
  color: transparent;
}

.navbar button{
  color: white;
  padding: 13px 16px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom left, #9100F8, #FB09B4,  #F7E93F);
}

.nav-links{
  display: flex;
  gap: 32px;
}

.nav-item{
  list-style: none;
}

.nav-link{
  text-decoration: none;
  color: white;
}

/* hero relative style */
#hero{
  max-width: 100%;
  background-image: url(assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero-content{
  position: relative
}

.hero-button{
  position: absolute;
  letter-spacing: 1px;
  padding-left: 700px;
  padding-top: 110px;
  z-index: 1;
}

.hero-img{
  position: relative;
}

.hero-container{
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-container img{
  background-image: url(assets/hero-circle.png);
  margin-top: 101px;
  padding: 100px 117px 75px 116px;
  /* border-radius: 50%; */
}

.hero-container h1{
  margin-top: 40px;
  margin-bottom: 8px;
}

.top-button{
  display: inline-block;
  background-color: #00FF88;
  padding: 8px 16px;
  color: #1A0B2E;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 50px;
}

.button {
  margin-top: 24px;
  padding-bottom: 102px;
}

.button .button-1{
  background:linear-gradient(to bottom left, #9100F8, #FB09B4,  #F7E93F) ;
  padding:13px 20px;
  color: white;
  border: none;
  border-radius: 50px;
}
.button .button-2{
  background:none;
  color: #00FF88;
  padding:13px 20px;
  border:1px solid #00FF88;
  border-radius: 50px;
}

/* podcast relative style */

#podcast{
  background-color: #1A0B2E;
} 
.podcast-container{
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.podcast-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 80px;
  padding: 160px 200px 120px 200px;
}

.podcast-container p{
  line-height: 20px;
}

.podcast-container h1{
  margin: 0px auto;
  padding-top: 50px;
}

.podcast-footer h2{
  color: #00FF88;
}

/* card related style */
#card{
  align-items: center;
  text-align: center;
  justify-content: center;
  background: rgba(35, 14, 61, 1);
  color: white;
  /* margin: 120px 200px; */
}
#card h2{
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 30px;
  padding: 40px 150px 120px 150px;
}

.card-1{
  padding: 108px 40px;
  align-items: center;
  justify-content: left;
  text-align: left;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  grid-column: span 1;
  grid-row: span 2;
}
.card-2{
  padding: 40px 40px;
  justify-content: left;
  text-align: left;
  align-items: center;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  grid-column: span 2;
  grid-row: span 1;
}
.card-3{
  padding: 40px 40px;
  justify-content: left;
  text-align: left;
  align-items: center;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  grid-column: span 2;
  grid-row: span 1;
}
.card-4{
  padding: 40px 40px;
  justify-content: left;
  text-align: left;
  align-items: center;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  grid-column: span 2;
  grid-row: span 1;
}

.card-5{
  padding: 40px 40px;
  justify-content: left;
  text-align: left;
  align-items: center;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  grid-column: span 1;
  grid-row: span 1;
}

/* featured related style */
#featured{
  background: #1A0B2E;
  align-items: center;
  text-align: center;
  color: white;
}
#featured h2{
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 40px;
}

.featured-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  padding: 40px 150px 0px 150px;
}

.featured-img{
  border: none;
  background: #250D44;
  border-radius: 15px;
}

.featured-img iframe{
  border-radius: 15px;
}

.featured-content{
  text-align: left;
  padding: 24px;
}

.featured-content span{
  color: #00FF88;
}

/* introduction relative style */

#introduction{
  background: #1A0B2E;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-bottom: 120px;
}

#introduction h2{
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 50px;
}

.introduction-container{
  display: flex;
  gap: 24px;
  background: #250D44;
  margin: 0px 150px;
  border: none;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.introduction-img{
  padding: 40px;
}

.introduction-content{
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.introduction-icon{
  display: flex;
  justify-content: left;
  gap: 20px;
}

.introduction-icon img{
  display: flex;
  border: 1px solid #533C72;
  border-radius: 50%;
  padding: 10px;
}

/* footer related style */
#footer{
  max-width: 100%;
  background-image: url(assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 120px;
  /* margin: 0 auto; */
}

#footer h1{
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 40px;
}

#footer h1 span{
  background: linear-gradient(to bottom left, #9100F8, #FB09B4,  #F7E93F);
  background-clip: text;
  color: transparent;
}

.footer-img{
  display: flex;
  font-size: 20px;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

/* media  style */
@media screen and ( max-width:576px){
  .navbar{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .nav-links,.navbar button{
    display: none;
  }

  .hero-button{
    padding-left: 300px;
  }

  .podcast-content{
    grid-template-columns: repeat(2,1fr);
  
  }

  .podcast-content,
  .card-container,
  .podcast-container,
  .featured-container,
  .introduction-content,
  .introduction-icon{
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .card-container,
  .featured-container{
    grid-template-columns: repeat(1,1fr);
  }

  .card-1,.card-2,.card-3,.card-4,.card-5{
    height: 200px;
    width: 300px;
    margin: 0 90px;
  }

  #card h2{
    font-size: 40px;
  }

  .introduction-container{
    flex-direction: column;
    margin: 0 30px;
    gap: 5px;
  
  }

  .introduction-icon{
    margin-bottom: 24px;
  }

  #footer h1{
    padding-top: 97px;
  }

  .footer-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 0 auto;
  
  }

}
@media screen and (min-width:576px) and (max-width:992px) {
  .hero-button{
    padding-left: 520px;
  }

  .podcast-content{
    grid-template-columns: repeat(2,1fr);
  }

  .podcast-content,
  .card-container,
  .podcast-container,
  .featured-container,
  .introduction-content,
  .introduction-icon{
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .card-container,
  .featured-container{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
  }

  .card-1,.card-2,.card-3,.card-4,.card-5{
    grid-column: span 2;
    grid-row: span 1;
  }

  #card h2{
    font-size: 40px;
  }

  .introduction-container{
    flex-direction: column;
    margin: 0 30px;
    gap: 0px;
  
  }

  .introduction-icon{
    margin-bottom: 24px;
  }

  #footer h1{
    padding-top: 97px;
  }

  /* .footer-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 0 auto;
  
  } */
}